.settings {
    padding: 4rem 8rem;
    min-height: 100vh;

    .settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50vh;
        padding: 0 4% 8% 4%;
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        
        h2 {
            font-size: 2rem;
            margin: 40px 0 10px 0;
            color: var(--color-primary);
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }
    }
} 