header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    padding: 0.5rem;
    color: var(--white);

    h4 {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 2px;
    }
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--color-accent);

    ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    li {
        list-style: none;
    }

    button {
        background-color: var(--color-accent-secondary);
        color: var(--white);
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
    }
}
