header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secondary);
    padding: 0.5rem;
    color: var(--white);

    .header-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-left: 1rem;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 2px;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
                gap: 1rem;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        li {
            list-style: none;
            margin-right: 30px;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
            letter-spacing: 1px;
            align-items: center;
            display: flex;
        }

        li:hover a {
            color: var(--color-primary);
        }

        .active {
            color: var(--color-primary);
        }
    }
}
