.about {
    padding: 4rem 8rem;
    min-height: 100dvh;

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50vh;
        padding: 0 4% 8% 4%;
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        
        h2 {
            font-size: 2rem;
            margin: 40px 0 10px 0;
            color: var(--color-primary);
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }

        p {
            margin-top: 20px;
            max-width: 800px;
        }

        .about-description {
            width: 80%;
        }

        h4 {
            margin-top: 20px;
            font-size: 1.2rem;
            color: var(--color-primary);
            font-weight: 400;
        }

        a {
            color: var(--color-primary);
            text-decoration: none;
        }

        .contact-link {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 2px;
            margin-top: 7px;
        }

        .icon {
            margin-right: 5px;
        }
    }
} 