footer {
    background-color: var(--color-accent);
    padding: 2rem 0;
    text-align: center;
    margin-top: 80px;

    p {
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: 2px;
    }
}
